h1 {
    font-family: 'Kola', sans-serif;
    color: #1DCD9F;
    /* Color inherited from body (white) */
}

#main-title {
    display: flex;
    justify-content: center;
}

#main-title h1 {
    /* No border */
    font-size: 10rem;
    margin-top: 35vh;

}

#box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    text-align: center;
}

/* Custom Scrollbar */