@font-face {
    font-family: 'Kola';
    src: url('../assets/fonts/Kola-Regular.woff2') format('woff2'),
        url('../assets/fonts/Kola-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Courier New', monospace;
}

h1 {
    font-family: 'Kola', sans-serif;
    /* Color inherited from body (white) */
}

#main-title {
    display: flex;
    justify-content: center;
}

#main-title h1 {
    /* No border */
    font-size: 10rem;
    margin-top: 35vh;

}

::-webkit-scrollbar {
    display: none;
}